{{#each siteMap}}
    <div><a href="projects/{{@key}}"><img
                src="projects/{{@key}}/screen.png"
                alt=""
            />
            <p>{{this.title}}</p>
        </a></div>
{{/each}}