* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    display: flex;
    position: relative;
    width: 50%;
    aspect-ratio: 8 / 6;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 20px;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    width: 14%;
    border: 2px solid black;
    flex-direction: column-reverse;
}

.player1 {
    width: 100%;
    aspect-ratio: 1;
    background-color: blueviolet;
    border-radius: 50%;
}

.player2 {
    width: 100%;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 50%;
}
